<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<style>
		.container {
			max-width: 560px;
		}
	</style>
</head>
<body>
	<!--네비게이션 바 위치-->
	<nav class="navbar navbar-expand-lg bg-light" xmlns:th="http://www.thymeleaf.org" th:fragment="naviFragemnt">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">게시판</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto">
					
					<!-- 세션이 존재하지 않을 경우 로그인, 회원가입 버튼만 활성화-->
					<li class="nav-item">
						<a class="nav-link" href="/login" th:if="${session.loginMember == null}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/join" th:if="${session.loginMember == null}">Join</a>
					</li>
					
					<!-- 세션이 존재할 경우 로그아웃, 개인정보수정 버튼으로 대체-->
					<li class="nav-item">
						<div th:if="${session.loginMember != null}">
							<a class="nav-link" th:text="|로그인: ${session.loginMember.getUserName()}|">로그인 사용자 이름</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout" th:if="${session.loginMember != null}">Logout</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/user/update" th:if="${session.loginMember != null}">개인정보수정</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="py-5 text-center">
			<h2>게시글 상세보기</h2>
		</div>
		
		<h4 class="mb-3">게시글</h4>
		
		
		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label" th:text="제목">제목</label>
			<input type="text" class="form-control" id="exampleFormControlInput1" name="title" th:value="${board.title}" readonly>
		</div>
		
		<div class="mb-3">
			<label for="exampleFormControlInput2" class="form-label" th:text="작성자">작성자</label>
			<input type="text" class="form-control" id="exampleFormControlInput2" name="name" th:value="${board.name}" readonly>
		</div>
		
		<div class="mb-3">
			<label class="form-label" th:text="내용">내용</label>
<!--			<div class="content" name="content" th:utext="${board.content}"></div>-->
		    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="content" th:utext="${board.content}" readonly></textarea>
		</div>
		
		<div class="mb-3">
			<label for="exampleFormControlInput3" class="form-label" th:text="작성일자">작성일자</label>
			<input type="text" class="form-control" id="exampleFormControlInput3" name="createdAt" th:value="${board.createdAt}" readonly>
		</div>
		
		
		<div align="right">
			<a class="btn btn-primary" th:href="@{/}" th:text="목록으로">목록으로</a>
			<a class="btn btn-success" th:href="@{/board/{boardIndex}/comment(boardIndex=${board.getBoardIndex()})}" th:text="답글달기">답글달기</a>
			<a class="btn btn-info" th:href="@{/board/{boardIndex}/edit(boardIndex=${board.getBoardIndex()})}" th:text="수정하기">수정하기</a>
			<form style="display:inline;" th:action="@{/board/{boardIndex}(boardIndex=${board.getBoardIndex()})}" th:method="delete">
				<button type="submit" class="btn btn-danger" th:text="삭제">삭제</button>
			</form>
		</div>
	</div>
</body>
</html>