<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<style>
	.layout {
		width: 1000px;
		margin: 0 auto;
		margin-top: 40px;
	}
</style>
<body>
<!-- 네비게이션 바 위치 -->
<nav class="navbar navbar-expand-lg bg-light" xmlns:th="http://www.thymeleaf.org" th:fragment="naviFragemnt">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">게시판</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto">
				
				<!-- 세션이 존재하지 않을 경우 로그인, 회원가입 버튼만 활성화 -->
				<li class="nav-item">
					<a class="nav-link" href="/login" th:if="${session.loginMember == null}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/join" th:if="${session.loginMember == null}">Join</a>
				</li>
				
				<!-- 세션이 존재할 경우 로그아웃, 개인정보수정 버튼으로 대체 -->
				<li class="nav-item" th:if="${session.loginMember != null}">
					<a class="nav-link" th:text="|로그인: ${session.loginMember.getUserName()}|">로그인 사용자 이름</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout" th:if="${session.loginMember != null}">Logout</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/user/update" th:if="${session.loginMember != null}">개인정보수정</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="layout">
	<h2 align="center">게시판 리스트</h2>
	
	<div style="width: 300px" class="input-group mx-auto mb-3">
		<form class="row gx-2" th:action="@{/board/search}" method="get">
			<div class="col-auto">
				<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="keyword" />
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-outline-primary">search</button>
			</div>
		</form>
	</div>
	
	<table class="table">
		<thead class="table-light">
		<tr>
			<th>No</th>
			<th width="60%">제목</th>
			<th>작성자</th>
			<th>작성 일시</th>
		</tr>
		</thead>
		<tbody align="center">
		<tr th:each="board, rowStat : ${boardList}">
			<td class="text-start" th:text="${rowStat.index + 1}"></td>
			<td class="text-start">
				<a th:href="@{/board/{boardIndex}(boardIndex=${board.boardIndex})}" th:text="${board.title}"></a>
				
				<!-- 댓글 렌더링 -->
				<div th:each="comment : ${board.comments}">
					<div th:if="${comment.depth > 0}" th:style="'margin-left:' + ${comment.depth * 20} + 'px'">
						<span th:text="${comment.content}"></span>
					</div>
				</div>
			</td>
			<td class="text-start" th:text="${board.user != null ? board.user.userId : ''}"></td>
			<td class="text-start" th:text="${board.createdAt != null ? board.createdAt : ''}"></td>
		</tr>
		
		<tr>
			<td>ㅁㅁㅁㅁ</td> <!-- No 열에 해당하는 부분, 비워두거나 필요에 따라 정보를 추가 -->
			<td>ㅁㅁㅁㅁ</td>
			<td>ㅁㅁㅁㅁ</td> <!-- 작성자 열에 해당하는 부분, 비워두거나 필요에 따라 정보를 추가 -->
			<td>ㅁㅁㅁㅁ</td> <!-- 작성 일시 열에 해당하는 부분, 비워두거나 필요에 따라 정보를 추가 -->
		</tr>
		</tbody>
	</table>
	
	<div align="right">
		<button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/board}'|">글 쓰기</button>
	</div>
		
	<nav aria-label="Page navigation">
		<!--표에 사용될 변수값 초기화 -->
		<ul class="pagination justify-content-center" th:with="start=${T(java.lang.Math).floor(boardList.number / 10) * 10 + 1}, last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">
			<th:block th:with="
            firstAddr=@{/(page=1)},
            prevAddr=@{/(page=${boardList.number})},
            nextAddr=@{/(page=${boardList.number + 2})},
            lastAddr=@{/(page=${boardList.totalPages})}">
				<li class="page-item">
					<a class="page-link" th:href="${firstAddr}" aria-label="First">
						<span aria-hidden="true"> << </span>
					</a>
				</li>
				<!-- 이전 페이지로 가기 버튼 -->
				<li class="page-item" th:class="${boardList.first} ? 'disabled'">
					<a class="page-link" th:href="${boardList.first} ? '#' :${prevAddr}"
					   aria-label="Previous">
						<span aria-hidden="true">&lt;</span>
					</a>
				</li>
				<!--1,2,3,4,.. 등 페이지-->
				<li class="page-item" th:each="page: ${#numbers.sequence(start, last)}"
				    th:class="${page == boardList.number + 1} ? 'active'">
					<a class="page-link" th:text="${page}" th:href="@{/(page=${page})}"></a>
				</li>
				<!--다음 페이지로 -->
				<li class="page-item" th:class="${boardList.last} ? 'disabled'">
					<a class="page-link" th:href="${boardList.last} ? '#' : ${nextAddr}"
					   aria-label="Next">
						<span aria-hidden="true">&gt;</span>
					</a>
				</li>
				<!--맨 마지막 페이지로 이동 -->
				<li class="page-item">
					<a class="page-link" th:href="${lastAddr}" aria-label="Last">
						<span aria-hidden="true"> >> </span>
					</a>
				</li>
			</th:block>
		</ul>
	</nav>
</div>
</body>
</html>